{% extends "Todo/includes/base.html" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
        {% include 'Todo/includes/alerts.html' %}
      <tr>
        <th scope="col">Num</th>
        <th scope="col">Title</th>
        <th scope="col">Task</th>
        <th scope="col">Dealine</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for task in tasks %}
        <th scope="row">{{ task.id }}</th>
        <td>{{ task.title }}</td>
        <td>{{ task.task }}</td>
        <td>{{ task.dead_line}}</td>
       <td>  <a href="#" ><span class="badge text-bg-success rounded-pill">Completed</span> </a></td>
      <td>  <a href="{% url 'delete_task' task.id %}" ><span class="badge text-bg-danger rounded-pill">Delete</span> </a></td>
        <td>  <a href="#" ><span class="badge text-bg-info rounded-pill">Update</span></a></td>
      </tr>
     
     {% endfor %}
    
    </tbody>
   
  </table>
  <center>
    {%if page_obj.has_previous %} {# whether the previous page exists #}
        <a href="?page={{page_obj.previous_page_number}}">Next</a> {# link to the prev page #}
    {% endif %}
    <span>{{page_obj.number}}</span> {# the current page number #}
   
    {%if page_obj.has_next %} {# whether the next page exists #}
        <a href="?page={{page_obj.next_page_number}}">previous</a> {# link to the next page #}
    {% endif %}
</center>
  
  <hr>
 
{% endblock %}